## **Importing Libraries**

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/raw_data/train.csv")

In [4]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

## **Using the above data to perform the following Operations**

## A) Looking for the missing values

In [5]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [9]:
df2= pd.DataFrame(df)

## Filling in missing values im Mileage, Engine, Power,Seats with median and mode

In [22]:
import re

# List of columns with units to clean
columns_with_units = ["Mileage", "Engine", "Power"]

# Define function to extract numeric values as floats
def extract_numeric(value):
    match = re.search(r"\d+\.\d+|\d+", str(value))  # Finds numbers with or without decimal points
    return float(match.group()) if match else None  # Converts to float if a match is found

# Apply extraction function to columns with units
for column in columns_with_units:
    if column in df.columns:
        df2[column] = df2[column].apply(extract_numeric)

# Fill missing values with median for numeric columns
if "Mileage" in df2.columns:
    df2['Mileage'].fillna(df2['Mileage'].median(), inplace=True)
if "Engine" in df2.columns:
    df2['Engine'].fillna(df2['Engine'].median(), inplace=True)
if "Power" in df2.columns:
    df2['Power'].fillna(df2['Power'].median(), inplace=True)

# Fill missing values in Seats column with mode
if "Seats" in df2.columns:
    df2['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

# Drop any remaining rows with missing values
df2.dropna(inplace=True)

# Preview the cleaned data
df2.head()

<ipython-input-22-b68a91e352b5>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Mileage'].fillna(df2['Mileage'].median(), inplace=True)
<ipython-input-22-b68a91e352b5>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Engine'].fillna(df2['Engine'].median(), inplace=True)
<ipython-input-22-b68a91e352b5>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Power'].fillna(df2['Power'].median(), inplace=True)
<ipython-input-22-b68a91e352b5>:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

### Justification :
### Automated Column Selection: pd.api.types is used to detect data types, allowing the code to automatically choose imputation methods based on whether columns are numerical or categorical.
### Efficient Dropping of Columns: dropna(thresh=...) efficiently removes columns with more than 50% missing data.
### Single Loop for Imputation: A single loop iterates over columns with missing values, ensuring minimal computation while applying specific imputation methods.

## B) Removing the units from Mileage, Engine, Power and New_Price and converting them into float to keep in numerical values

In [14]:
import re
# List of columns with units to clean
columns_with_units = ["Mileage", "Engine", "Power"]

# Define function to extract numeric values as floats
def extract_numeric(value):
    match = re.search(r"\d+\.\d+|\d+", str(value))  # Finds numbers with or without decimal points
    return float(match.group()) if match else None  # Converts to float if a match is found

# Apply extraction function to each specified column
for column in columns_with_units:
    if column in df2.columns:
        df2[column] = df2[column].apply(extract_numeric)

# Preview the cleaned data
print(df2[columns_with_units].head())
df2.head()

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1      NaN  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [23]:
output_csv_file = 'preprocessed_data.csv'
df2.to_csv(output_csv_file, index=False)

To identify columns with missing values in this dataset, we find that `"Mileage"` has 2 missing entries, while both `"Engine"` and `"Power"` have 36 missing entries each. Due to the high number of missing values, the `"New Price"` column was removed from the DataFrame. For columns with fewer missing values, such as `"Mileage"`, `"Engine"`, and `"Power"`, the median was used for imputation. Unlike the mean, median imputation is a more robust method because it’s less sensitive to outliers and performs effectively across various data distributions.

## C) Changing the categorical variables (“Fuel_Type”,“Transmission” and owner type) into numerical one hotencoded value.

In [24]:
df1=pd.read_csv("/content/preprocessed_data.csv")

In [25]:
df1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [26]:
#categorical variables: "Fuel_Type," "Transmission," and "Owner_Type."

In [27]:
df1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [28]:
df1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [29]:
df1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [31]:
#To work with our categorical variables, we are converting them into numerical data using one-hot encoding.
df1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
df1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
df1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [33]:
df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [ ]:
#Saving the encoded data in separate csv file

In [34]:
output_csv_file = 'encoded_data.csv'
df1.to_csv(output_csv_file, index=False)

## D)Creating one more feature by adding this column to the dataset (you can use mutate function inR for this). For example, you can calculate the current age of the car by subtracting “Year” valuefrom the current year. (4 points)We are adding a new column called "CURRENT AGE OF THE CAR" to our dataset

In [40]:
from datetime import datetime

In [49]:
# Calculate the current year
current_year = datetime.now().year

df1['Current_Age'] = current_year - df1['Year']

In [50]:
#Save the encoded data in separate csv file
output_csv_file = 'newColumnData.csv'
df1.to_csv(output_csv_file, index=False)

In [51]:
df3=pd.read_csv("/content/newColumnData.csv")
df3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age,CURRENT AGE OF THE CAR
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,13,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11,11

## E) Performing Operations

## Select operations

In [53]:
selected_columns = df3[['Current_Age','Mileage', 'Price']]
print("Selected DataFrame:")
print(selected_columns.head())

Selected DataFrame:
   Current_Age  Mileage  Price
0            9    19.67  12.50
1           13    18.19   4.50
2           12    20.77   6.00
3           11    15.20  17.74
4           11    23.08   3.50

## Filtering the data

In [55]:
df3['Mileage'] = pd.to_numeric(df3['Mileage'], errors='coerce')
filtered_data = df3[df3['Mileage'] > 20]
print("Filtered_dataframe")
print(filtered_data.head())

Filtered_dataframe
   Unnamed: 0                                 Name Location  Year  \
2           3                    Maruti Ertiga VDI  Chennai  2012
4           6               Nissan Micra Diesel XV   Jaipur  2013
6           8  Volkswagen Vento Diesel Comfortline     Pune  2013
7           9       Tata Indica Vista Quadrajet LS  Chennai  2012
8          10                     Maruti Ciaz Zeta    Kochi  2018

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage  Engine  \
2              87000          0             0           1    20.77  1248.0
4              86999          0             0           1    23.08  1461.0
6              64430          0             0           1    20.54  1598.0
7              65932          0             0           2    22.30  1248.0
8              25692          1             0           1    21.56  1462.0

    Power  Seats  Price  Current_Age  CURRENT AGE OF THE CAR
2   88.76    7.0   6.00           12                      12
4   63.10    5.0   3.50           11                      11
6  103.60    5.0   5.20           11                      11
7   88.80    5.0   1.95           12                      12
8  103.25    5.0   9.95            6                       6

#Renaming the columns

In [56]:
df3.rename(columns={'Year': 'original_Year'}, inplace=True)

df3

,Unnamed: 0,Name,Location,original_Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age,CURRENT AGE OF THE CAR
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,13,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,1,28.40,1248.0,88.80,5.0,4.75,10,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,1,24.40,1120.0,88.80,5.0,4.00,9,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,2,14.00,2498.0,88.80,8.0,2.90,12,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,1,18.90,998.0,67.10,5.0,2.65,11,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,1,25.44,936.0,57.60,5.0,2.50,13,13

#Mutating the column

In [57]:
current_year = 2024
df3['Age'] = current_year - df3['original_Year']
df3

,Unnamed: 0,Name,Location,original_Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age,CURRENT AGE OF THE CAR,Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9,9,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,13,13,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12,12,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11,11,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,1,28.40,1248.0,88.80,5.0,4.75,10,10,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,1,24.40,1120.0,88.80,5.0,4.00,9,9,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,2,14.00,2498.0,88.80,8.0,2.90,12,12,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,1,18.90,998.0,67.10,5.0,2.65,11,11,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,1,25.44,936.0,57.60,5.0,2.50,13,13,13

#Arrange the column

In [63]:
sorted_data = df3.sort_values(by='Price' , ascending=False)
sorted_data

,Unnamed: 0,Name,Location,original_Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age,CURRENT AGE OF THE CAR,Age
3952,4079,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,0,1,1,13.33,2993.0,88.8,5.0,160.00,7,7,7
5620,5781,Lamborghini Gallardo Coupe,Delhi,2011,6500,1,1,3,6.40,5204.0,88.8,2.0,120.00,13,13,13
5752,5919,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,1,1,1,12.50,5000.0,488.1,2.0,100.00,9,9,9
1457,1505,Land Rover Range Rover Sport SE,Kochi,2019,26013,0,1,1,12.65,2993.0,88.8,5.0,97.07,5,5,5
1917,1974,BMW 7 Series 740Li,Coimbatore,2018,28060,1,1,1,12.05,2979.0,88.8,5.0,93.67,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,3228,Maruti 800 Std,Pune,2003,52000,1,0,1,16.10,796.0,88.8,4.0,0.50,21,21,21
2758,2847,Hyundai Getz GLS,Pune,2005,86000,1,0,2,15.30,1341.0,88.8,5.0,0.45,19,19,19
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,1,0,3,17.30,993.0,88.8,5.0,0.45,26,26,26
1577,1628,Maruti 800 Std BSIII,Jaipur,2004,12000,1,0,2,16.10,796.0,88.8,4.0,0.45,20,20,20
1660,1713,Tata Nano Lx,Pune,2011,65000,1,0,2,26.00,624.0,88.8,4.0,0.44,13,13,13

# Summarize

In [62]:
average_price_made = df3.groupby('Seats')['Price'].mean()
average_price_made

Seats
2.0     61.337692
4.0     21.882796
5.0      8.633450
6.0      9.867586
7.0     14.909880
8.0      7.498421
9.0      4.450000
10.0     4.475000
Name: Price, dtype: float64

In [61]:
df3.head()

,Unnamed: 0,Name,Location,original_Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age,CURRENT AGE OF THE CAR,Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9,9,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,13,13,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12,12,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11,11,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11,11,11